/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
      */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #343a40;
}

/* Banner */
.img-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./vinhome.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.4);

  position: relative;
}

.banner-info {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f7f7f7;
  font-size: 20px;
}

.banner-info h1 {
  text-transform: uppercase;
}

.banner-info span {
  color: #868e96;
}

/* Avatar */
.avart-banner {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 32%;
  transform: translate(-57%, 70%);
}

.avartar-default {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
}

/* NavBar */
.nav-name {
  display: inline-block;
  margin: 0 90px 0 80px;
}

#nav-bar {
  text-align: center;
  font-size: 12px;
}

#nav-bar a:link,
a:visited {
  text-decoration: none;
  color: #364fc7;
  text-transform: uppercase;
  border-left: 2px solid #868e96;
  padding: 30px 20px 10px;
}

#nav-bar a:active,
a:hover {
  color: #f03e3e;
  font-weight: bold;
  cursor: pointer;
}

.icon {
  color: #5f3dc4;
  font-weight: bold;
}

.nav-name h1 {
  font-size: 20px;
  font-weight: bold;
}

.nav-name span {
  color: #868e96;
  font-size: 12px;
}

/* Xây dựng Thông tin cá nhân */
.mt-40 {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.section-title {
  font-size: 26px;
  font-weight: bold;
}

#target {
  background-color: #f1f3f5;
}

#personal-info {
  background-color: #e9ecef;
}

li span {
  font-weight: bold;
}

/* Xây dựng phần Thông tin nghề nghiệp */
.job-detail-container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 40px 20px;
  align-items: center;

  border: 2px solid #f1f3f5;
  padding: 24px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.job-title {
  margin-top: 20px;
  font-size: 16px;
}

.container-detail {
  grid-column: 1 / -1;
}

.job-icon {
  font-size: 36px;
}

.now {
  background-color: #339af0;
  padding: 4px 8px;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 4px;
}

.detail-info {
  margin-bottom: 40px;
  margin-left: 20px;
  font-size: 12px;
  position: relative;
}

#job-info span {
  font-style: italic;
}

.job-decription {
  margin-top: 10px;
}

.job-node::before {
  content: "•";
  color: #364fc7;
  font-weight: bolder;
  display: inline-block;
  font-size: 18px;

  position: absolute;
  left: -25px;
  top: -5px;
}

/* Xây dựng phần Sở thích */
.hobby-detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
}

.hobby-icon {
  font-size: 22px;
  color: #74c0fc;
  border: 2px solid #74c0fc;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
}

.hobby-info {
  font-size: 12px;
}

/* Xây dựng phần "Ngôn Ngữ", "Kỹ Năng" */
.score-detail {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  row-gap: 10px;
  font-size: 12px;
}

.good-score {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.bad-score {
  background: #f1f3f5;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

/* Xây dựng phần Chứng chỉ - Giải thưởng */
#certificate {
  background-color: #f1f3f5;
  padding: 40px 180px;
}

.certificate-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 30px;
}

.certificate-info {
  display: flex;
  gap: 20px;
}

.certificate-img {
  width: 180px;
  margin-right: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.certificate-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cer-border-1 {
  border-left: 2px solid #d6c08d;
  padding-left: 20px;
}

.cer-border-2 {
  border-top: 2px solid #d6c08d;
  padding-top: 30px;
  grid-column: 1/-1;
}

/* Xây dựng phần Dự án */
#project {
  padding: 20px 120px;
}

.project-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-bottom: 40px;
}

.project-box {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.project-img {
  width: 100%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.project-name {
  padding: 16px;
  font-size: 14px;
  border: 2px solid #f1f3f5;
}

.project-icon {
  font-size: 16px;
  font-weight: bold;
  margin-left: 15px;
}

.project-detail {
  border: 2px solid #f1f3f5;
  padding: 10px;
  font-size: 12px;
}

.project-table {
  border: 2px solid #f1f3f5;
}

table {
  border-collapse: collapse;
}

tr {
  border: 2px solid #f1f3f5;
}

td {
  padding: 10px;
  font-size: 12px;
}

tr td:first-child {
  vertical-align: top;
}

/* Xây dựng phần Liên hệ */
.footer-link {
  background-color: #f1f3f5;
  line-height: 1.5;
  text-align: center;
}

.footer-icon {
  color: #74c0fc;
  font-size: 100%;
}

#footer a:link,
a:visited {
  text-decoration: none;
  color: #868e96;
  font-size: 16px;
  margin-right: 30px;
}

#footer a:active,
a:hover {
  color: #339af0;
  font-weight: bold;
  cursor: pointer;
}

/* Bổ sung Project Charter cho các dự án */
